{% extends "base_generic.html" %}

{% block content %}

<main role="main" style="font-family: 'Ubuntu', sans-serif;">

<div class="container">
  <br>
  <img src="https://t.tudocdn.net/207239?w=646&h=284" alt="spaceX">
  <br>
  <h3>Proposta</h3>
  <p>
    Elabore uma aplicação em Python que consuma a API da SpaceX e seja capaz de apresentar as seguintes informações:
  </p>
  <ul>
    <li>
      Próximo Lançamento
    </li>
    <li>
      Último Lançamento
    </li>
    <li>
      Próximos Lançamentos
    </li>
    <li>
      Lançamentos Passados
    </li>
  </ul>
  <p>
    A aplicação deve oferecer a opção ao usuário de qual informação ele deseja visualizar.
  </p>
  <br>
  <h3>Implementação</h3>
  <p>
    Desenvolvio com o framework de Python Django, com o auxilio de algumas bibliotécas como Requests, Pytest, etc.
  </p>
</div>


</main>


{% endblock %}
